.project-item {
  position: relative;
  text-decoration: none;
  color: var(--text);
  border-radius: 5px;
  padding: 1em clamp(1em, 2vw, 2em);
}

.project-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-item:hover {
  background-color: #ffffff10;
}

.project-info > h2 {
  font-size: clamp(1.1rem, 1.5vw, 1.5rem);
  margin: 0 0 0.3em;
  line-height: 130%;
}

.project-info > p {
  font-size: clamp(0.85rem, 0.9vw, 1rem);
  line-height: 165%;
}

@media (max-width: 768px) {
  .project-item {
    padding: 1em;
  }
}

@media (max-width: 480px) {
  .project-item {
    padding: 0.75em;
  }
}
