.project-item {
  position: relative;

  text-decoration: none;
  text-align: justify;
  color: var(--text);

  border-radius: 5px;
  padding: 1em 2em;
}

.arrow-up-right {
  width: 20px;
  position: absolute;
  margin: 0.75em 0.5em 0 0;
  z-index: 1;
  top: 0;
  right: 0;
}

.arrow-up-right-path {
  stroke: var(--accent);
}

.project-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-item:hover {
  background-color: #ffffff10;
}

.project-info > h2 {
  font-size: 20px;
}

.project-info > p {
  font-size: 14px;
}
