.web-app {
  display: flex;
  flex-direction: column;
  gap: 0;
}

#introduction {
  display: flex;
  flex-direction: row;;

  margin: 0 2em;
}

.about-desc {
  margin: 0 2em;
  text-align: justify;
}

.info {
  display: flex;
  flex-direction: column;
}

.experience-block, .technologies-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
  gap: 0em 4em;
  margin: 2em;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 2em;
}